@import 'variables';
@import 'typography';

aside {
    background-image: url('./../../public/assets/wooden-bg.png');
    filter: $default-shadow;
    border-left: $default-border;
    height: 100vh;
    max-width: 400px;
    min-width: 400px;
    position: fixed;
    right: calc(-1 * 400px);
    top: 0;

    // responsive to mobile
    @media only screen and (max-width: $mobile) {
      background-image: none;
    }

  
    header {
      height: 75px !important;
      background: $less-light;
      align-items: center;
      border-bottom: none;
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
  
      .close {
        img {
          width: 25px;
          margin-top: 10px;
        }
  
        opacity: 0.8;
        text-decoration: none;
        transition: all 200ms;
        width: 20px;
        &:hover {
          opacity: 1;
        }
      }
    }
  
    main {
      height: 100vh;
      background-color: rgba($less-light, 0.25);
      border-left: 0;
      border-right: 0;
  
      .cart-main {
        height: 100%;
        max-height: calc(100vh - 250px);
        overflow-y: auto;
        width: auto;
      
        hr {
          margin: 25px 0;
          border: $thin-border;
        }
  
        .cart-details {
          margin-top: 30px;
        }
      }
  
      // responsive to tablet
      @media only screen and (max-width: $tablet) {
        height: calc(100vh - 102px);
      }
  
      hr {
        height: 4px;
        margin-top: 10px;
        margin-bottom: 20px;
      }
  
      // responsive to tablet
      @media only screen and (max-width: $tablet) {
        height: calc(100vh - 102px);
      }
  
      .cart-main {

        .button {
          font-size: 0.9rem;
        }
  
        .cart-details {
          margin-top: 0;
  
          .button {
            margin-top: 20px;
          }
        }
  
        .cart-empty-text {
          background-color: $light;
          filter: $default-shadow;
          padding: 40px 30px;
          border: $thin-border;
          border-radius: 25px;
        }
  
        height: unset;
        max-height: none;
        padding: 25px;
        padding-top: 0;
      
        hr {
          margin: 25px 0;
          border: $thin-border;
        }
  
        .cart-line {
          flex-flow: row wrap;
          text-align: center;
          justify-content: space-evenly;
          gap: 10px;
          background-color: $light;
          filter: $default-shadow;
          border: $thin-border;
          border-radius: 25px;
          display: flex;
          padding: 15px 30px;
          padding-bottom: 25px;
          img {
            width: 45%;
            max-width: 150px;
          }
          span {
            padding: 0 15px;
            background-color: $light;
            border: $thin-border;
            height: 30px;
            max-width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          button {
            background-color: $color2;
            border: $thin-border;
            filter: $default-shadow;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            .cart-icon {
              border: none;
              width: 18px;
            }
            img {
              filter: none;
            }
            transition: background-color 0.4s, color 0.4s;
            &:hover, &:disabled {
              cursor: pointer;
              background-color: $color1;
              img {
                filter: invert(100%) sepia(97%) saturate(265%) hue-rotate(27deg) brightness(111%) contrast(88%);
              }
            }
            // responsive to tablet
            @media only screen and (max-width: $tablet) {
              &:hover {
                cursor: pointer;
                background-color: $color2;
                img {
                  filter: none;
                }
              }
              &:disabled:hover {
                cursor: pointer;
                background-color: $color1;
                img {
                  filter: invert(100%) sepia(97%) saturate(265%) hue-rotate(27deg) brightness(111%) contrast(88%);
                }
              }
            }
          }
  
          img {
            height: 100%;
            display: block;
            margin: 0;
            border: $thin-border;
            filter: $default-shadow;
            border-radius: 0;
          }
  
          margin-top: 15px;
  
          &:nth-of-type(1) {
            margin-top: 0;
          }
        }
  
        .cart-summary-aside {
          background-color: $light;
          padding: 15px 30px;
          border: $thin-border;
          border-radius: 25px;
          filter: $default-shadow;
  
          div a {
            background-color: $color2;
            border: $thin-border;
            height: 40px;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.4s, color 0.4s;
            filter: $default-shadow;
  
            &:hover {
              background-color: $color1;
            }
          }

          .checkout-button p {
            font-size: 0.9rem !important;
          }
  
          .cart-subtotal {
            align-items: center;
            display: flex;
            justify-content: space-between;
          }
          // input.discount {
          //   width: 95%;
          //   height: 20px;
          //   background-color: $light;
          //   border: $thin-border;
          //   border-radius: 0 !important;
          // }
  
          // responsive to tablet
          @media only screen and (max-width: $tablet) {
            div a:hover {
              background-color: $color2;
            }
          }
        }
      }
    }
}

.overlay {
  animation: none;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 110vh;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  visibility: hidden;
  z-index: 1000;
}
  
.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: sticky;
  top: 0;
  width: calc(100% - 400px);
}
  
// responsive to tablet
@media only screen and (max-width: $tablet) {
  .overlay {
    min-height: 100vh;
    max-height: 100vh;
    .close-outside {
      position: absolute;
      top: 102px;
      height: calc(100% - 102px);
    }
  }
}
  
// responsive to mobile
@media only screen and (max-width: $mobile) {
    #cart-aside .close-outside, #mobile-menu-aside .close-outside {
        display: none;
    }
}
  
.overlay .light {
    background: rgba(255, 255, 255, 0.5);
  }
  
.overlay .cancel {
    cursor: default;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  
.overlay:target {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}
  /* reveal aside */
  .overlay:target aside {
    transform: translateX(calc(400px * -1));
}

#cart-aside {
    main .cart-main {
      padding-top: 25px;
    }
  }
  
// responsive to tablet
@media only screen and (max-width: $tablet) {
    #cart-aside {
        position: fixed;
        top: 0;
  
        aside {
            position: absolute;
            top: 102px;
  
        header {
          display: none;
          height: 0;
        }
      }
    }
}
  
// responsive to tablet
@media only screen and (max-width: $tablet) {
    #cart-aside {

      aside {
        height: calc(100vh - 102px);
      }
    }
}
  
// responsive to mobile
@media only screen and (max-width: $mobile) {
    #cart-aside {
        position: absolute;

        aside {
            width: 100vw;
            max-width: 100vw;
            height: calc(100% - 204px);
            padding-top: 20px;

            main {
                padding-top: 0 !important;

                .cart-main {
                    padding-top: 0 !important;
                }
            }
        }
    }
}

#mobile-menu-aside {
    display: none;
    position: absolute;
    top: 0;
    
    // responsive to tablet
    @media only screen and (max-width: $tablet) {
      display: initial;
      position: fixed;
    }
  
    // responsive to tablet
    @media only screen and (max-width: $tablet) {
      position: absolute;
    }
  
    aside {
      position: absolute;
      top: 102px;
  
    // responsive to tablet
    @media only screen and (max-width: $tablet) {
      height: calc(100vh - 142px);

      main {
        padding-top: 30px;
      }
    }
  
    // responsive to mobile
    @media only screen and (max-width: $mobile) {
        width: 100vw;
        max-width: 100vw;
        padding-top: 75px;
        height: calc(100% - 204px);
    }
  
    .header-menu-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-gap: 10px;
        height: calc(90%);

      a {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        width: 60%;
        min-width: 250px;
        background: $light;
        color: $black;
        border: $default-border;
        filter: $default-shadow;
        padding: 10px 30px 10px 30px;
        margin: 5px;
        &:hover {
          text-decoration: none;
        }

        .button-icon {
          width: 20px;

          &.compass {
            width: 27px;
          }
        }

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
          width: 70vw;

          .button-icon {
              width: 22px;
              padding-bottom: 3px;
          }
        }
      }
        
      // responsive to tablet
      @media only screen and (max-width: $tablet) {
        .mobile-only-links {
          display: flex;
          justify-content: center;
          gap: 15px;
          margin-top: 30px;
          a {
            display: flex;
            max-width: unset;
            min-width: unset;
            width: 100%;
            padding: 10px 20px;
            background-color: $color2 !important;
          }
        }
      }
    }

    header {
      display: none;
      height: 0;
    }
}
}
