@import 'variables';
@import 'typography';

.calendar , .fc {
  width: 95% !important;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.fc * {
  animation: none;
}

.fc-daygrid-event {
  animation: $secondary-animation;
}

.fc-day-mon {
  background-color: rgba($black, 0.1) !important;
}

.calendar {
  .fc-button-active {
    background-color: $color1 !important;
    color: $white !important;
    box-shadow: none !important;
  }
  .fc-button {
    text-transform: uppercase;
    font-weight: 800;
    padding-left: 20px;
    padding-right: 20px;
    color: $black;
    border: $default-border;
    background-color: $color2;
    filter: $default-shadow;
    border-radius: 0;
    min-width: 75px;
    transition: background-color 0.4s, color 0.4s;
    &:hover, &:active, &:focus {
      background-color: $color1 !important;
      color: $white !important;
      box-shadow: none !important;
    }
    &:disabled {
      opacity: 1;
      border: $default-border;
      background-color: $color1;
      color: $white !important;
      cursor: pointer;
    }
  }
  .fc-toolbar-title {
    font-family: "Bogue-Regular";
  }
  .fc-list-table {
    filter: drop-shadow(-5px 5px 2px #1f1f1f80);
  }
  .fc-list-empty {
    background-color: $light;
    height: 150px;
    font-size: 22px;
    font-style: italic;
  }
  .fc-scrollgrid-section-body {
    filter: $default-shadow
  }
  .fc {
    margin-top: 25px;

    a:hover {
      cursor: default !important;
      text-decoration: none !important;
    }

    h2 {
      color: $black;
    }

    .fc-listMonth-view {
      border: $default-border !important;

      .fc-event {
        background-color: $light;
      }
    }

    .fc-list-day th {
      background-color: $color4 !important;
      a {
        color: $white !important;
        font-weight: 400;
      }
    }

    .fc-list-event {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-top: -1px;
      margin-bottom: -1px;

      &:last-of-type {
        .fc-list-event-time, .fc-list-event-title {
          border-bottom: solid $black 1px;

          // responsive to tablet
          @media only screen and (max-width: $tablet) {
            border-bottom: none;
          }
        }
      }

      .fc-list-event-time, .fc-list-event-title {
        width: 50%;
      }
      .fc-list-event-time {
        text-align: right;
      }
      .fc-list-event-title {
        text-align: left;
      }
      .fc-list-event-graphic {
        display: none;
      }
    }

    .fc-list-event-dot {
      display: none;
    }

    .fc-daygrid-event {
      background-color: $color4;
      color: $light;
      border: solid $black 2px;
      padding: 2px 5px;
      margin: 0px 10px;
      text-align: center;

      .fc-daygrid-event-dot {
        display: none;
      }
    }

    .fc-event {
      td {
        border-left: 0;
        border-right: 0;
      }
      &:hover {
        th, tr {
          opacity: 1;
        }
        td {
          background-color: unset !important;
        }
      }
    }

    .fc-cell-shaded {
      background: none !important;
      border-top: none;
    }

    .fc-daygrid-day-top a {
      cursor: default;
      text-decoration: none;
      font-size: 18px;
      padding-right: 3px;
    }

    .fc-button-group {
      gap: 12px;
    }

    .fc-scrollgrid-sync-table tbody {
      background-color: $light;
    }

    tbody {
      border: $default-border;
      border-top: 0;
      padding-top: 0;
    }

    .fc-scrollgrid, .fc-scrollgrid-section-header * {
      border: none;
    }

    td {
      border-top: none;
      border: $default-border;
    }

    .fc-scrollgrid-section th {
      background: none !important;
    }
  }
}

// responsive to tablet
@media only screen and (max-width: $tablet) {
    .fc {
      margin-top: 0;
    }
    .calendar {
      padding: 0;
      padding-bottom: 10px;

      .fc-header-toolbar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
        margin: 0 !important;
      }
      .fc-toolbar-title {
        margin-top: 10px;
      }
      .fc-toolbar-chunk {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .fc-toolbar-chunk:nth-of-type(3) {
        height: 0;
      }
      .fc-dayGridMonth-button, .fc-listMonth-button {
        display: none;
      }
    }
}

// responsive to mobile
@media only screen and (max-width: $mobile) {
  
    .fc-toolbar-chunk:nth-of-type(1) {
      display: flex;
      gap: 12px;
      .fc-today-button {
        margin: 0;
      }
    }
}