@import 'variables';
@import 'typography';

header, footer {
    max-width: 1500px;
    display: flex;
}

header {
    height: 140px;
    border-bottom: $default-border;
    padding: 20px;
    padding-bottom: 0;
    top: 0;
    position: relative;
    z-index: 150;

    // responsive to mobile
    @media only screen and (max-width: $tablet) {
        animation: none;
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
        background-image: url('./../../public/assets/wallpaper.png');
        background-size: 100%;
        height: 100px;
        align-items: center;
        padding-top: 0;

        a {
        display: flex;
        }
    }

    // responsive to mobile
    @media only screen and (max-width: $mobile) {
        .button-label {
            display: none;
        }
    }

    nav {

        &.header-submenu {
            display: flex;
            grid-gap: 1rem;
            margin-left: auto;

            // responsive to mobile
            @media only screen and (max-width: $tablet) {
                .mobile-hide {
                    display: none;
                }
            }

            // responsive to mobile
            @media only screen and (max-width: $mobile) {
                .button {
                    &:hover {
                        color: $black;
                        background-color: $color2;
                        img {
                            filter: none;
                        }
                    }
                }
            }

            .cart-active, .menu-active {
                color: $white;
                background-color: $color1;
                img {
                filter: invert(100%) sepia(97%) saturate(265%) hue-rotate(27deg) brightness(111%) contrast(88%);
                }
                &:hover {
                    color: $white;
                    background-color: $color1;
                    img {
                        filter: invert(100%) sepia(97%) saturate(265%) hue-rotate(27deg) brightness(111%) contrast(88%);
                    }
                }
            }
        
            .menu-toggle, .menu-active {
                display: none;
        
                // responsive to mobile
                @media only screen and (max-width: $tablet) {
                    display: flex;
                }
            }
        }

        &.header-menu-desktop {
            animation: $secondary-animation;
            display: flex;
            width: 100%;
            justify-content: center;
            position: absolute;
            bottom: 1px;

            // responsive to mobile
            @media only screen and (max-width: $tablet) {
                display: none;
            }

            .mobile-only-links {
                display: none !important;
            }

            a {
                animation: $secondary-animation;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 150px;
                width: 180px;
                height: 45px;
                margin-left: -2px;
                margin-right: -2px;
                transform: perspective(8px) rotateX(1deg);
                transition: background-color 0.4s, color 0.4s, margin 0.4s;
                background-color: $least-light;
                border: $default-border;
                border-radius: 25px 25px 0 0;
                border-bottom: none;

                span, img {
                    animation: $secondary-animation;
                }
                
                &.active-link {
                    background-color: $light;
                    z-index: 100;

                    &:hover {
                        background-color: $light;
                        margin-left: -2px;
                        margin-right: -2px;
                    }
                }

                &:hover {
                    text-decoration: none;
                    background-color: $less-light;
                    margin-left: 4px;
                    margin-right: 4px;
                }
            }
        }
    }
}

footer {
    background-color: rgba($light, 0.75);
    filter: $default-shadow;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: $default-border;
    margin-top: 0;
    margin-bottom: 75px;

    hr {
        background-color: $color3;
        height: 4px;
        max-width: 90%;
        margin: 25px 0;
    }

    .footer-buttons {
        display: flex;
        gap: 15px;

        .button {
            height: 20px !important;
        }

        .selected {
            background-color: $color1;
            color: $light;
            img {
                filter: invert(100%) sepia(97%) saturate(265%) hue-rotate(27deg) brightness(111%) contrast(88%);
            }
        }
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
        filter: none;
        border-left: none;
        border-right: none;
        border-bottom: none;
        margin-bottom: 0;

        .footer-buttons {
            gap: 5px;

            .button {
                height: 15px !important;
            }
        }
    }

    &.landing-footer {
        background: none;
        border-left: none;
        border-right: none;
        border-bottom: none;
        margin-bottom: 0;

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            background: unset;
            background-image: url('./../../public/assets/wallpaper.png');
            background-size: 100%;
            background-position: -150px;
        }
    }
}

.landing-header {
    height: 100px;

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
        height: calc(50vh - 228px);
    }
}
.landing-footer {
    display: none;
    border-top: none;

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
        display: initial;
        height: calc(50vh - 228px);
    }
}