@import 'variables';
@import 'typography';

.landing {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 206px);
    padding: 0;

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
        height: calc(100vh - 204px);
    }

    .landing-welcome {
        display: flex;
        align-items: center;
        gap: 30px;
        padding-left: 10%;
        background-color: rgba($color1, 0.8);
        border-bottom: $default-border;
        height: 55%;

        .thb-icon {
        height: 175px;
        width: auto;
        filter: $default-shadow;
        }

        // responsive to mobile
        @media only screen and (max-width: $tablet) {
            flex-direction: column;
            justify-content: center;
            padding: 0;
            width: 100%;
            height: 50%;

            .thb-icon {
                height: 150px;
                width: auto;
                filter: $default-shadow;
            }
        }
    }
    .landing-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba($light, 0.8);
        height: 45%;
        padding-left: 10%;

        .landing-buttons {
            display: flex;
            gap: 10px;
            margin-top: 10px;
            margin-bottom: 15px;
        }

        .remember-user {
            label {
                height: 30px;
                display: flex;
                align-items: center;
                input[type="checkbox"] {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 20px;
                    height: 20px;
                    margin-left: 10px;
                    background-color: $light;
                    border: $default-border;
                    filter: $default-shadow;
                    transition: 0.4s;
                    border-radius: 0;
                    outline: none;
                    cursor: pointer;
                    &.checked {
                        background-color: $color1;
                        position: relative;
                    }
                }
                &:hover {
                cursor: pointer;
                input[type="checkbox"] {
                    background-color: $color1;
                    &.checked {
                    background-color: $color1;
                    }
                }
                }
            }
        }

        // responsive to mobile
        @media only screen and (max-width: $tablet) {
            height: 50%;
            padding: 0;
            
            .landing-buttons {
                justify-content: center;
            }
            .remember-user {
                margin: 0 auto;
            }
        }
    }
}