@import 'variables';
@import 'typography';

.loading {
    background-color: rgba($color1, 0.8);
    border-bottom: $default-border;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 453px;

    .thb-icon {
        width: 200px;
        height: auto;
        filter: $default-shadow;
    }
    .loader {
        margin-top: 20px !important;
        border: $default-border;
        filter: $default-shadow;
        width: 225px;
        background: none;

        span {
            height: 6px !important;
            border-radius: 0 !important;
        }
    }
}