@import 'variables';
@import 'typography';

.loading {
    background-color: rgba($color1, 0.8);
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 453px;

    .thb-icon {
        width: 200px;
        height: auto;
        filter: $default-shadow;
    }
}