@import 'animations';

// font imports
@font-face {
    font-family: "Saudagar";
    src: url(./../../public/fonts/saudagar.ttf) format("truetype");
};
@font-face {
    font-family: "Bogue-Regular";
    src: url(./../../public/fonts/bogue-regular.ttf) format("truetype");
};
@font-face {
    font-family: "Bogue-Thin";
    src: url(./../../public/fonts/bogue-thin.ttf) format("truetype");
};
@font-face {
    font-family: "Bogue-ExtraBold";
    src: url(./../../public/fonts/bogue-extrabold.ttf) format("truetype");
};

// typographic styles
:root {
    font-size: 18px;
    letter-spacing: 0.75px;

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
        font-size: 17px;
    }

    // responsive to mobile
    @media only screen and (max-width: $mobile) {
        font-size: 16px;
    }
}

* {
    font-family: "Bogue-Regular", sans-serif;
    animation: $default-animation;
};

header, footer {
    .button-primary {
        padding: 10px 20px;
        font-size: 0.9rem;
        height: 15px;
    }
}

.shop, .product {
    color: $light;
}

footer {
    .credit, .copyright {
        p {
          font-family: "Saudagar";
          font-weight: 800;
          text-align: center;
          font-size: 0.9rem;
          letter-spacing: 2px;
          padding-bottom: 5px;
      
          a {
            font-family: "Saudagar";
            text-decoration: underline;
          }
        }
    }

    .credit p {
        font-size: 1rem;
    }
    
    .copyright p {
        font-size: 1.2rem;
    }
}

h2 {
    font-family: 'Saudagar';
    text-align: center;
    font-style: normal;
    text-transform: uppercase;
    font-size: 4.25rem;
    color: $black;
    margin: 10px 0;

    &.home {
        margin-top: 30px;
        font-size: 3.5rem;
        font-style: italic;
        text-transform: none;
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
        font-size: 3.5rem;
        margin-bottom: 0;

        &.home {
            display: none;
        }
    }
}

h3 {
    text-transform: uppercase;
    font-size: 3rem;

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
        font-size: 3.5rem;
    }
}

.landing-welcome {
    h1 {
        color: $light;
        font-family: "Saudagar";
        font-size: 40px;
        font-style: italic;
        filter: drop-shadow(-3px 3px 0.5px rgba($black, 0.8));
        
        .title {
            font-family: "Saudagar";
            font-size: 75px;
            font-style: normal;
        }
    }
    // responsive to tablet
    @media only screen and (max-width: $tablet) {
        h1 {
            display: none;
        }
    }
}

.landing-main {
    p {
        margin-top: 10px;
        font-size: 1.2rem;
    }
    .remember-user {
        label {
            font-size: 1rem;
        }
    }
    // responsive to tablet
    @media only screen and (max-width: $tablet) {
        p {
            max-width: 80%;
            margin: 0 auto;
            padding: 15px;
            text-align: center;
            padding-bottom: 0;
        }
        .remember-user {
            label {
                font-size: 1rem;
            }
        }
    }
}

aside {
    h2 {
        margin-bottom: 0.6rem;
        margin-top: 0;
    }
    h3 {
        text-transform: uppercase;
        font-size: 1.5rem;
        text-align: right;
        width: 100%;
        margin: 0;
    }
    p {
        margin: 0 0 0.25rem;

        &::last-child {
            margin: 0;
        }
    }
    li {
        margin-bottom: 0.125rem;
    }
    .header-menu-mobile {
        a {
            font-weight: 800;
            text-transform: uppercase;
        }

        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            a {
                font-size: 1.25rem;
            }
        }

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            a {
                font-size: 1.4rem;
            }
        }
    }
    .cart-empty-text {
        background-color: rgba($less-light, 0.8);
        filter: $default-shadow;
        padding: 40px 30px;
        border: $thin-border;
        border-radius: 25px;
        font-size: 1.25rem;
        text-align: center;
        margin-bottom: 20px;
    }
    .cart-main {
        .button {
            border: $thin-border;
            max-width: 70%;
            margin: 0 auto;
        }
    }
    .cart-line {
        p {
            width: 90%;
            margin: 0;
        }
        a:hover {
            text-decoration: none;
        }
        span {
            text-align: center;
            font-size: 0.8rem;
        }
    }
    .cart-summary-aside {
        div a {
            font-weight: 800;
            text-decoration: none;
            text-transform: uppercase;
            p {
                margin: 0;
            }
            &:hover {
                color: $light;
            }
        }

        .cart-subtotal {
            dt {
                font-weight: 800;
            }
            a {
                font-size: 0.8rem;
            }
        }

        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            div a:hover {
                color: $black;
            }
        }
    }
}

.address {
    font-family: "Saudagar";
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px 25px;
    font-size: 1.25rem;
    font-style: italic;
    text-align: center;
    color: $black;
    background-color: $light;
    border: $default-border;
    border-radius: 25px;
    filter: $default-shadow;

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
        font-size: 1.6rem;
        filter: none;
        border: none;
        border-bottom: $default-border;
        border-radius: 0;
        padding: 10px 15px;
        padding-bottom: 0;
        max-width: 100vw;
        letter-spacing: 1.5px;
        margin: 0;
    }
}

main {

    .main-taproom {
        .sketch-address {
            .address {
                margin-top: 10px;
                margin-bottom: 15px;

                // responsive to tablet
                @media only screen and (max-width: $tablet) {
                    margin: 0;
                }
            }
        }
    }

    .main-events {
        h3 {
            font-size: 3rem;
            font-family: "Saudagar";
            text-transform: uppercase;
            margin: 30px;
            margin-bottom: 10px;
            margin-left: 40px;
        }
        .main-events-content {
            .events-list {
                margin-left: 40px;
                font-size: 1.25rem;
                li {
                  font-family: "Bogue-ExtraBold";
                  font-style: italic;
                  .date {
                    font-style: normal;
                    font-family: "Bogue-Regular";
                  }
                }
            }
        }
        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            .main-events-content .events-list {
                text-align: center;
                margin: 10px 35px !important;
            }
            h3 {
                font-size: 2.5rem;
                text-align: center;
                margin: 10px 30px;
                margin-top: 20px;
            }
        }
    }

    .product {
        .product-main {
            h1 {
                font-size: 2.5rem;
                font-family: "Saudagar";
                text-transform: uppercase;
                margin: 0;
            }
            .product-price {
                font-size: 1.5rem;
                font-family: "Bogue-ExtraBold";
                margin: 0;
            }
            .product-description {
                font-size: 1.2rem;
                font-family: "Bogue-Regular";
                margin: 0;
            }
            button {
                padding: 20px 30px;
                margin-top: 20px;
                cursor: pointer;
                &:hover {
                    background-color: $color4;
                }
            }
        }
    }

    .taproom-address {
        .address {
            width: 90%;
            margin-top: 15px;
            margin-bottom: 5px;
        }
        .button {
            margin-top: 15px;
            margin-bottom: 0;
        }

        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            .address {
                margin-top: 0;
                margin-bottom: 30px;
            }
            .button {
                display: none;
            }
        }
    }

    .taproom-events {
        h2 {
            text-transform: none;
        }
    }

    .taproom-menus {
        h3 {
            width: 90%;
            font-family: "Saudagar";
            filter: $default-shadow;
            margin: 0;
            padding: 0;
        }
        .updated-date {
            font-style: italic;
            padding: 5px 40px;
            padding-right: 20px;
            position: absolute;
            right: 0;
            top: 50px;
            background-color: $color4;
            filter: $default-shadow;
            border: $default-border;
            border-radius: 25px 0 0 25px;
            border-right: 0;
        }
        .menu-nav .button {
            height: 40px;
            font-size: 1.2rem;
            padding: 20px 30px;
            cursor: pointer;
    
            &.selected {
                color: $white;
                background-color: $color1;
                cursor: default;
                
                img {
                filter: invert(100%) sepia(97%) saturate(265%) hue-rotate(27deg) brightness(111%) contrast(88%);
                }
            }
        }

        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            h3 {
                text-align: center;
                margin-top: 20px;
                margin-bottom: 10px;
            }
            .updated-date {
                order: 5;
                position: initial;
                font-size: 1.2rem;
                text-align: center;
                width: 100%;
                border: $default-border;
                border-left: 0;
                border-right: 0;
                margin-bottom: 15px;
            }
            .menu-nav .button {
                justify-content: space-between;
            }
        }
    }
}

.route-error {
    border-radius: 25px;

    .error-message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 50px auto;
        padding: 20px;
        background-color: $less-light;
        border: $default-border;

        h1, h2 {
            margin: 0
        }
        h1 {
            color: $black;
            font-size: 3rem;
            font-family: 'Saudagar';
        }
        h2 {
            color: $black;
            font-size: 1.75rem;
            padding: 10px 0;
        }
        .button {
            max-width: 50%;
        }
    }
}

.hours {
    h4 {
        font-size: 1.75rem;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
    }
    .schedule {
        li {
            font-family: "Bogue-Extrabold";
            text-transform: capitalize;
            font-size: 1.2rem;
            letter-spacing: 2px;
            line-height: 1.5;
            margin: 0;
            .time {
                font-family: "Bogue-Regular";
                font-size: 1.1rem;
                font-style: italic;
            }
            .symbol {
                font-family: "Bogue-Extrabold";
            }
        }
        .asterisk {
            display: flex;
            flex-direction: column;
            justify-content: right;
            align-items: center;
            width: 100%;
            hr {
                display: block;
                width: 100%;
                height: 4px;
                background-color: $color4;
                margin-top: 20px;
                margin-bottom: 5px;
            }
            p {
                text-align: right;
                width: 100%;
                margin-top: 15px;
                font-size: 0.75rem;
                text-transform: uppercase;
                font-style: italic;

                .symbol {
                    font-family: "Bogue-Extrabold";
                    font-size: 1rem;
                    line-height: 20px;
                    margin-right: 2px;
                }
            }
        }
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
        h4 {
            font-size: 1.5rem;
        }
    }
}

.button {
    background: $color2;
    border: $default-border;
    filter: $default-shadow;
    color: $black;
    font-size: 1rem;
    font-family: "Bogue-Regular";
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.15;
    height: 20px;
    padding: 10px 30px 10px 30px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    &:hover {
      background: $color1;
      color: $light;
      text-decoration: none;
      transition: background 0.2s ease-in;
      img {
        filter: invert(100%) sepia(97%) saturate(265%) hue-rotate(27deg) brightness(111%) contrast(88%);
      }
    }
  
    &.decorative {
      padding: 10px 20px;
    }
  
    .button-icon {
    animation: none;
      width: 20px;
      padding-bottom: 3px;
    }
  
    .flourish {
      width: 25px;
      padding-bottom: 3px;
    }
}

.button-secondary {
    background: $color1;
    width: 170px;
    height: 100%;
    margin-top: 10px;
    &:hover {
      background: $color3;
      color: $black;
      img {
        filter: invert(4%) sepia(5%) saturate(169%) hue-rotate(314deg) brightness(100%) contrast(82%);
      }
    }
}

.button-tertiary {
    background: $color4;
    color: $light;
    img {
      filter: invert(100%) sepia(97%) saturate(265%) hue-rotate(27deg) brightness(111%) contrast(88%);
    }
    &:hover {
      background: $color2;
      color: $black;
      img {
        filter: none;
      }
    }
}

.button-quaternary:hover {
    background-color: $color3;
    color: $black;
    img {
        filter: none;
    }
}

.button-secondary, .button-tertiary {
    font-size: 0.8rem;
    color: $light;

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
        font-size: 1rem;
    }
}

// responsive to tablet
@media only screen and (max-width: $tablet) {
    .button:hover {
      background: $color2;
      color: $black;
      img {
        filter: none;
      }
    }
    .button.cart, .button.menu-toggle {
      display: flex;
      flex-direction: row;
    }
    .button.menu-active {
      flex-direction: row-reverse;
    }
    .button-secondary:hover {
      background: $color1;
      color: $black;
      img {
        filter: none;
      }
    }
    .button-tertiary:hover {
      background: $color4;
      color: $light;
      img {
        filter: none;
      }
    }
}

nav.header-submenu {

    // responsive to mobile
    @media only screen and (max-width: $mobile) {
        .button {
          height: 28px;
          font-size: 1.2rem;
          img {
            width: 22px;
          }
        }
    }
}

nav.header-menu-desktop {

    a {
        filter: $default-shadow;
        .nav-text {
            transform: perspective(8px) rotateX(-1deg);
            font-size: 1.1rem;
            padding-top: 5px;
            font-family: "Saudagar";
            font-weight: 800;
            text-transform: uppercase;
            color: $black;
        }
        .button-icon {
            display: none;
        }
    }
}