// font imports
@font-face {
    font-family: "Saudagar";
    src: url(./../../public/fonts/saudagar.ttf) format("truetype");
};

@font-face {
    font-family: "Bogue-Regular";
    src: url(./../../public/fonts/bogue-regular.ttf) format("truetype");
};

@font-face {
    font-family: "Bogue-Thin";
    src: url(./../../public/fonts/bogue-thin.ttf) format("truetype");
};
@font-face {
    font-family: "Bogue-ExtraBold";
    src: url(./../../public/fonts/bogue-extrabold.ttf) format("truetype");
};

* {
    font-family: "Bogue-Regular", sans-serif;
};

h2 {
    font-family: "Bogue-Thin", sans-serif;
    font-style: italic;
    font-size: 30px;
    color: $white;
    margin: 10px 0;
}