// colour variables
$white: #F6F6F6;
$light: #F1EDE2;
$less-light: #D6D0C0;
$least-light: #c8c4b8;
$color1: #778d79;
$color2: #D8B56E;
$color3: #C28165;
$color4: #BC4749;
$dark: #794F3E;
$black: #1F1F1F;

// responsive sizing variables
$smaller-desktop: 1500px;
$tablet: 1070px;
$mobile: 480px;

// other style variables
$default-border: solid $black 3px;
$thin-border: solid $black 2px;
$default-shadow: drop-shadow(-3px 3px 2px rgba($black, 0.5));
$default-animation: fade-up 1s ease-in-out;
$secondary-animation: fade-in 0.8s ease-in-out;