// colour variables
$white: #F6F6F6;
$light: #F1EDE2;
$less-light: #D6D0C0;
$color1: #778d79;
$color2: #D8B56E;
$color3: #C28165;
$color4: #BC4749;
$dark: #794F3E;
$black: #1F1F1F;

// responsive sizing variables
$tablet: 768px;
$mobile: 480px;