@import 'partials/variables';
@import 'partials/typography';
@import 'partials/landing';
@import 'partials/loading';
@import 'partials/header-footer';
@import 'partials/aside';
@import 'partials/hours';
@import 'partials/calendar';
@import 'partials/shop';

:root {
  background-image: url('./../../public/assets/wallpaper.png');
  background-size: 100%;
  background-color: $light;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &.aside-closed {
    header * {
      animation: none;
    }
  }

  // responsive to mobile
  @media only screen and (max-width: $mobile) {
    background-image: url('./../../public/assets/wooden-bg.png');
    background-size: 100%;

    &.aside-closed {
      * {
        animation: none;
      }
    }

    header * {
      animation: $secondary-animation !important;
    }
  }

  &.aside-open {
    overflow-y: hidden;

    header {
      * {
        animation: none;
      }
    }

    // responsive to mobile
    @media only screen and (max-width: $mobile) {
      body {
        height: calc(100vh + 50px);

        main, footer {
          display: none;
        }

        aside {
          main {
            display: initial !important;
          }
        }
      }
    }
  }
}

body, header, footer, main, section {
  animation: none;
}

body {
  width: 105vw;
  max-width: 1500px;
  height: 100%;
  margin-left: -5px;
  margin-right: -5px;

  #mobile-menu-aside {
    display: none !important;
    
    animation: $secondary-animation;
    * {
      animation: $secondary-animation;
    }
  }

  #cart-aside {
    z-index: 250;

    animation: $secondary-animation;
    * {
      animation: $secondary-animation;
    }
  }

  &.landing, &.loading {
    overflow: hidden;
  }

  &.default-body {
    overflow-x: hidden;
    overflow-y: scroll;

    // responsive to mobile
    @media only screen and (max-width: $mobile) {
      aside {
        display: none;
      }
    }
  }

  // responsive to tablet
  @media only screen and (max-width: $tablet) {
    margin: 0;

    header {
      position: sticky;
      z-index: 1000;
    }
    .landing-header {
      position: unset;
    }

    &.menu-open {
      #mobile-menu-aside {
        display: initial !important;

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
          background-color: rgba($less-light, 0.25);
        }
      }
      #cart-aside {
        display: none !important;
      }
    }

    &.cart-open {
      #cart-aside {
        display: initial !important;

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
          background-color: rgba($less-light, 0.25);
        }
      }
      #mobile-menu-aside {
        display: none !important;
      }
    }
  }
}

hr {
  height: 4px;
  width: 100%;
  background-color: $color1;
  border: $default-border;
  filter: $default-shadow;
}

h3.demo-text {
  border: $default-border;
  border-top: none;
  background-color: $color1;
  padding: 2px 12px;
  font-size: 1.25rem;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  // responsive to tablet
  @media only screen and (max-width: $tablet) {
    border-top: $default-border;
    font-size: 0.75rem;
    padding: 2px 6px;
    top: 35px;
    left: 15px;
    width: unset;
  }
}

.thb-icon {
  width: 75px;
  height: auto;
  filter: $default-shadow;
}

.thb-logo {
  width: 90%;
  max-width: 900px;
  height: auto;
  margin: 40px 0;

  // responsive to mobile
  @media only screen and (max-width: $tablet) {
    width: 80%;
    margin: 10px 0;
  }

  // responsive to mobile
  @media only screen and (max-width: $mobile) {
    width: 90%;
  }
}

main {
  background-image: url('./../../public/assets/wooden-bg.png');
  background-size: 100%;
  border-left: $default-border;
  border-right: $default-border;
  filter: $default-shadow;
  z-index: 200;

  // responsive to mobile
  @media only screen and (max-width: $tablet) {
    z-index: 100;
    border-left: none;
    border-right: none;
  }

  .contact-nav {
    padding: 20px;
    background-color: rgba($color1, 0.8);
    border-bottom: $default-border;
    ul {
      display: flex;
      justify-content: center;
      gap: 20px;

      li {
        margin: 0;
      }

      .button {
        height: 40px;
        cursor: pointer;

        &:hover {
          background-color: $color4;
          color: $light;
        }
        &.selected {
          background-color: $color4;
          color: $light;
        }
      }

      // responsive to tablet
      @media only screen and (max-width: $tablet) {
        flex-direction: column;
        align-items: center;
        gap: 0;

        .button {
          width: 90vw;
          max-width: 350px;

          &:hover {
            background-color: $color2;
            color: $black;
          }
          &.selected:hover {
            background-color: $color4;
            color: $light;
          }
        }
      }
    }
  }

  .contact-content {
    background-color: rgba($dark, 0.8);
    padding: 30px 10%;

    .contact-form {
      max-width: 800px;
      width: 90%;
      margin: 0 auto;
      background-color: rgba($less-light, 0.8);
      border: $default-border;
      padding: 40px;
      padding-bottom: 20px;
      margin: 0 auto;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 40px;
      padding-left: 10px;

      .button {
        margin-top: 30px;
        margin-left: 50px;
      }

      .button:disabled {
        background-color: $color1;
        &:hover {
          cursor: default;
        }
      }

      .form-field {
        min-width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
      }

      .double-field {
        min-width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .medium-field {
        width: 45%;
        justify-content: left;

        input {
          width: 100%;
        }
      }

      .small-field {
        width: 25%;
        justify-content: left;

        input {
          width: 100%;
        }

        .radio {
          display: block;
          position: relative;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }

          .radio-button {
            position: absolute;
            top: 42px;
            left: 0;
            height: 20px;
            width: 20px;
            border: $thin-border;
            background-color: $light;
            filter: $default-shadow;
            border-radius: 50%;
            transition: background-color 0.4s;

            // responsive to tablet
            @media only screen and (max-width: $tablet) {
              top: 37px;
            }

            &:after {
              content: "";
              position: absolute;
              display: none;
              left: 7px;
              top: 3px;
              width: 3px;
              height: 8px;
              border: solid $light;
              border-width: 0 3px 3px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }

          &:hover input ~ .radio-button {
            background-color: rgba($color1, 0.5);

            // responsive to tablet
            @media only screen and (max-width: $tablet) {
              background-color: $light;
            }
          }

          input:checked ~ .radio-button {
            background-color: $color1;
          }

          .radio-button:after {
            content: "";
            position: absolute;
            display: none;
          }

          input:checked ~ .radio-button:after {
            display: block;
          }
        }
      }

      label {
        text-transform: uppercase;
      }

      input, textarea {
        font-size: 1rem;
        min-width: 100%;
        padding: 5px 15px;
        border: $thin-border;
        border-radius: 0;
        filter: $default-shadow;
        background-color: $light;
      }

      textarea {
        min-height: 100px;
      }

      input[type="number"] {
        max-width: 75px;
      }

      input[type="radio"] {
        padding: 0;
        min-width: unset;
      }

      textarea {
        min-height: 100px;
      }

      .button {
        width: 300px;
        padding: 20px 30px;
        background: $color4;
        color: $light;

        img {
          filter: invert(100%) sepia(97%) saturate(265%) hue-rotate(27deg) brightness(111%) contrast(88%);
        }

        &:hover {
          cursor: pointer;
          background-color: $color1;
        }
      }
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
      padding: 20px;

      .contact-form {
        margin: 0 auto !important;
        width: 87% !important;
        max-width: 600px !important;
        padding-top: 30px;
        padding-bottom: 30px;
      }

      label {
        font-size: 0.9rem;
      }

      .form-field, .double-field {
        min-width: 85% !important;
      }

      .button {
        max-width: 70%;
        width: 100%;
        margin-left: 0;
        margin-top: 15px !important;

        &:hover {
          background-color: $color4 !important;
        }
      }
    }

    // // responsive to mobile
    // @media only screen and (max-width: $tablet) {
    //   .contact-form {
    //     max-width: 70%;
    //     width: 100%;
    //     margin: 20px auto;
    //     margin-left: 7%;

        
    //   }
    // }
  }

  .recommended-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      font-family: "Saudagar";
      color: $light;
      background-color: $color1;
      border: $default-border;
      font-size: 2.5rem;
      padding: 20px 50px;
      max-width: 100%;
      text-align: center;

      // responsive to tablet
      @media only screen and (max-width: $tablet) {
        width: 70%;
        font-size: 1.5rem;
        padding: 50px;
        margin: 0;
      }
    }
  }

  .retail-info {
    display: flex;
    height: 350px;
    margin: 0;
    padding: 0;
    background-color: rgba($color1, 0.8);
    border-bottom: $default-border;

    .retail-buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 35%;
      border-right: $default-border;
      padding: 20px;
      animation: none;

      .button {
        min-width: 60%;
      }
    }

    .retail-photo {
      animation: $secondary-animation;
      height: 350px;
      width: 65%;
      object-fit: cover;
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
      flex-direction: column-reverse;
      height: 100%;

      .retail-photo {
        height: 70%;
        max-height: 250px;
        width: 100%;
      }

      .retail-buttons {
        display: none;
      }
    }
  }

  .retail-content {
    background-color: rgba($dark, 0.8);
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
      padding-top: 40px;
      padding-bottom: 30px;
    }

    .updated-date {
      font-style: italic;
      font-size: 1.15rem;
      color: $black;
      padding: 5px 100px;
      text-align: center;
      background-color: $color2;
      filter: $default-shadow;
      border: $default-border;
      border-radius: 25px;
      margin-bottom: 20px;


      // responsive to tablet
      @media only screen and (max-width: $tablet) {
        font-size: 1.2rem;
        margin-bottom: 30px;
        padding: 5px 20px;
        width: 105%;
        border-radius: 0;
        border-left: none;
        border-right: none;
      }
    }

    .fridge-list {
      background-color: $less-light;
      border: $default-border;
      outline: solid $color1 11px;
      box-shadow: 0 0 0 14px $black;
      filter: $default-shadow;
      border-radius: 25px;
      width: 90%;
      margin-bottom: 40px;

      .mobile-line-item {
        display: none;
      }

      .line-item {
        border-bottom: $thin-border;
        margin: 0;

        ul {
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding-top: 15px;
          padding-bottom: 15px;
  
          li {
            font-size: 1.15rem;
            font-family: "Saudagar";
            font-weight: 800;
            font-style: italic;
            margin: 0;
  
            &.title {
              width: 35%;
            }
            &.style {
              width: 30%;
            }
            &.abv, &.ml {
              width: 7%;
            }
            &.price {
              width: 10%;
            }
          }
        }

        &.header {
          background-color: $color2;
          color: $black;
          border-radius: 23px 23px 0 0;
          border-bottom: $default-border;

          ul li {
            font-family: "Bogue-Regular";
            font-size: 1.25rem;

          }
        }

        &:last-of-type {
          margin-bottom: 0;
          border-bottom: none;
        }
      }

      // responsive to tablet
      @media only screen and (max-width: $tablet) {
        max-width: 80%;
        outline: solid $color1 12px;

        .mobile-line-item {
          padding-top: 10px;
          padding-bottom: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          border-bottom: $thin-border;
          font-family: "Saudagar";
          font-style: italic;

          h4 {
            font-size: 1.2rem;
          }

          p {
            font-size: 1.1rem;
            width: 90%;
  
            &.description {
              font-style: italic;
              margin-bottom: 6px;
            }
  
            &.price {
              font-size: 1rem;
              font-weight: 800;
            }
          }

          &:last-of-type {
            margin-bottom: 0;
            border-bottom: none;
          }
        }

        .line-item {
          display: none;
        }
      }
    }

    h3 {
      font-family: "Saudagar";
      color: $light;
      filter: $default-shadow;
      font-size: 3rem;
      text-align: center;
      margin: 0;
      margin-bottom: 30px;

      // responsive to tablet
      @media only screen and (max-width: $tablet) {
        font-size: 2rem;
      }
    }
  }

  .route-error {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba($color1, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .button {
      justify-content: space-between;
      margin-top: 10px;
    }

    // responsive to mobile
    @media only screen and (max-width: $tablet) {
      padding: 0;

      .button {
        max-width: 70% !important;
        height: 50px;
        line-height: 1.5;
      }
    }
  }

  .home-heading {
    hr {
      max-width: 85%;
      background-color: $color3;
    }
    // responsive to mobile
    @media only screen and (max-width: $tablet) {
      background: $light !important;
      border-bottom: 0 !important;
      padding: 30px 0 15px 0;
      hr {
        margin-top: 20px;
      }
    }
  }
  .heading, .main-subheading {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: $default-border;
  }
  .heading {
    background-color: rgba($light, 0.9);
    flex-direction: column;
  }
  .home-taproom {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: rgba($color1, 0.8);
    
    hr {
      display: none;
    }

    .sketch-address {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 45%;
      margin: 15px;
      margin-bottom: 0;
      .bar-sketch {
        width: 95%;
        filter: $default-shadow;
        padding-bottom: 5px;
      }
      .bar-sketch-2 {
        object-fit: cover;
        width: 95%;
        height: calc(100% - 90px);
        background-color: $light;
        color: $black;
        border: $default-border;
        filter: $default-shadow;
        border-radius: 25px;
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }
    .hours {
      width: 35%;
      filter: $default-shadow;
    }
    .menu-buttons {
      width: 95%;
      margin: 0 auto;
      margin-top: 35px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      gap: 20px;

      .button {
        flex-grow: 0.3;
        justify-content: space-between;

        &.mobile-only {
          display: none;
        }
      }
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
      padding-top: 0 !important;

      hr {
        background-color: $color3;
        width: 90%;
        margin-top: 10px;
        margin-bottom: 35px;
      }
      .sketch-address {
        width: 100%;
        margin: 0;

        .bar-sketch {
          max-width: 500px;
          padding: 30px 20px;
          padding-bottom: 10px;
        }
        .bar-sketch-2 {
          height: 350px;
          width: 100%;
          border-radius: 0;
          border-right: none;
          border-left: none;
          margin-top: 30px;
          margin-bottom: 25px;
        }
        .address {
          order: -1;
          width: 100%;
          padding: 10px 10%;
          width: 80%;
          padding-bottom: 20px;
        }
        .button {
          display: none;
        }
      }
      .hours {
        display: none;
      }
      .menu-buttons {
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
        margin: 0;
        gap: 3px;
        .button {
          width: 80%;
          height: 20px;
          padding: 15px 20px;
          img {
            width: 20px;
          }

          &.mobile-only {
            display: flex;
          }
          &:hover {
            img {
              filter: invert(100%) sepia(97%) saturate(265%) hue-rotate(27deg) brightness(111%) contrast(88%);
            }
          }
        }
      }
    }
  }
  .taproom-banner {
    margin: 0;
    padding: 0;
    height: 500px;
    border-top: $default-border;
    .banner-photo {
      animation: $secondary-animation;
      width: 100%;
      height: 500px;
      border-radius: 0;
      object-fit: cover;
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
      height: 250px;
      .banner-photo {
        height: 250px;
      }
    }
  }
  .home-events {
    display: flex;
    border-top: $default-border;
    color: $black;
    background-color: rgba($less-light, 0.8);
    padding: 0;
    .events-photo {
      animation: $secondary-animation;
      max-width: 45%;
      border-right: $default-border;
      border-radius: 0;
      object-fit: cover;
    }
    .home-events-content {
      width: 100%;
      padding-bottom: 30px;
      .button {
        max-width: 75%;
        justify-content: space-between;
        background-color: $color4;
        color: $light;
        margin-top: 15px;
        margin-left: 40px;
        img {
          filter: invert(100%) sepia(97%) saturate(265%) hue-rotate(27deg) brightness(111%) contrast(88%);
        }
        &:hover {
          background-color: $color2;
          color: $black;
          img {
            filter: none;
          }
        }
      }
      hr {
        background-color: $color3;
        border-left: none;
        width: 90%;
        margin-bottom: 20px;
      }
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
      flex-direction: column-reverse;

      hr {
        width: 80%;
        max-width: unset;
        margin: 0 auto;
        border: $thin-border !important;
      }

      .button {
        width: 70% !important;
        margin: 15px auto !important;
        margin-top: 20px !important;
        &:hover {
          background-color: $color4 !important;
          color: $light !important;
          img {
            filter: invert(100%) sepia(97%) saturate(265%) hue-rotate(27deg) brightness(111%) contrast(88%) !important;
          }
        }
      }

      .events-photo {
        height: 350px;
        max-width: 100%;
        border: none;
        border-top: $default-border;
      }

      .home-events-content {
        padding-bottom: 20px;

        .events-list {
          text-align: center;
          font-size: 18px;
        }
      }
    }
  }
  .home-newsletter {
    text-align: center;
    gap: 15px;
    padding: 30px 10%;
    background-color: rgba($dark, 0.8);
    border-top: $default-border;

    .newsletter-content {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba($less-light, 0.8);
      border: $default-border;
      padding: 40px;
      padding-bottom: 20px;

      p {
        font-family: "Saudagar";
        font-size: 1.25rem;
        font-style: italic;
        line-height: 1.5;
        font-weight: 800;
        padding-bottom: 20px;
      }
  
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
  
        input {
          padding: 10px 20px;
          width: 500px;
          background-color: $light;
          border: $thin-border;
          border-radius: 0;
          filter: $default-shadow;
        }
        .button {
          padding: 20px 30px;
          background: $color1;
          color: $light;
          img {
            filter: invert(100%) sepia(97%) saturate(265%) hue-rotate(27deg) brightness(111%) contrast(88%);
          }
          justify-content: space-between;
          cursor: pointer;
          &:hover {
            background-color: $color2;
            color: $black;
            img {
              filter: none;
            }
          }
        }
      }
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
      padding: 20px;

      .newsletter-content {
        padding: 20px;
        p {
          font-size: 1.1rem;
        }
  
        form {
          gap: 5px;
          .button {
            &:hover {
              background: $color1;
              color: $light;
              img {
                filter: invert(100%) sepia(97%) saturate(265%) hue-rotate(27deg) brightness(111%) contrast(88%);
              }
            }
          }
        }
      }
    }

    // responsive to mobile
    @media only screen and (max-width: $mobile) {
      form {
        input {
          max-width: 85%;
        }
      }
    }
  }
  .taproom-address {
    height: 675px;
    display: flex;
    position: relative;
    background-color: rgba($color1, 0.8);
    border-bottom: $default-border;
    padding: 0;
    .taproom-photo {
      animation: $secondary-animation;
      position: absolute;
      top: 0;
      width: 100%;
      max-height: 675px;
      object-fit: cover;
      border: none;
      border-radius: 0;
    }
    .taproom-info {
      animation: $secondary-animation;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      height: 100%;
      min-width: 45%;
      z-index: 50;
      background-color: rgba($color1, 0.8);
      border-right: $default-border;

      .taproom-buttons {
        display: flex;
        gap: 20px;
      }
    }
    .hours {
      width: 75%;
      margin: 15px;
      margin-bottom: 20px;
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
      flex-direction: column;
      height: auto;
      background-color: rgba($color1, 0.8);

      .taproom-photo {
        height: 250px;
        position: unset;
        border-bottom: $default-border;
      }
      .taproom-info {
        background: none;
        padding: 25px 0;
        padding-top: 0;
        border-right: none;
        .taproom-buttons {
          display: none;
        }
        .hours {
          margin-bottom: 25px !important;
        }
        .address {
          order: -1;
          padding: 20px 10%;
          width: 80%;
        }
      }
    }
  }
  .taproom-menus {
    min-height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $light;
    background-color: rgba($dark, 0.8);
    border-bottom: $default-border;

    .menu-nav {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-bottom: 20px;
    }

    .menu {
      display: flex;
      flex-flow: row wrap;
      width: 95%;
      justify-content: center;
      align-items: center;
      gap: 20px;

      li {
        animation: $secondary-animation;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        background-color: rgba($less-light, 0.9);
        filter: $default-shadow;
        font-family: "Saudagar";
        color: $black;
        height: 100%;
        border: $default-border;
        border-radius: 40px;
        padding: 20px;

        * {
          animation: $secondary-animation;
        }

        &.beer, &.wine-seltzers-etc, &.non-alc {
          width: 325px;
        }

        &.food.sm {
          width: 225px;
        }

        &.food.med {
          width: 275px;
        }

        &.food.lrg {
          width: 325px;
        }

        h4 {
          width: 90%;
          text-transform: uppercase;
          font-size: 1.2rem;
        }
        
        p {
          font-size: 1.1rem;
          width: 90%;

          &.description {
            font-style: italic;
            margin-bottom: 6px;
          }

          &.price {
            font-size: 1rem;
            font-weight: 800;
          }
        }
      }
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
      padding-top: 0;

      .menu {
        gap: 5px;
        margin-bottom: 20px;
        li {
          width: 80% !important;
          justify-content: center;
          text-align: center;

          h4 {
            margin-bottom: 5px;
          }
        }
      }
      .menu-nav {
        width: 85%;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        li {
          width: 100%;
          .button {
            width: 100%;
            margin: 0;
          }
        }
      }
    }
  }
  .taproom-events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba($less-light, 0.9);
    hr {
      background-color: $color3;
      width: 95%;
      margin: 20px auto;
    }
    h3 {
      width: 90%;
      font-family: "Saudagar";
      margin: 0;
      padding: 0;
    }
    h4 {
      display: none;
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
      hr {
        background-color: $color3;
        width: 90%;
        margin: 10px auto;
      }
      h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        margin-top: 10px;
      }
      .fc-button {
        &:hover, &:focus {
          background-color: $color2 !important;
          color: $black !important;
        }
        &:disabled:hover {
          background-color: $color1 !important;
          color: $white !important;
        }
      }
    }
  }
}

// responsive to tablet
@media only screen and (max-width: $tablet) {
  * {
    border-width: 2px !important;
  }
}