@import 'partials/variables';
@import 'partials/typography';

html {
  background-color: $light;
  overflow-x: hidden;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: 1000;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: sticky;
  top: 0;
  width: calc(100% - var(--aside-width));
}

// responsive to tablet
@media only screen and (max-width: $tablet) {
  .overlay .close-outside {
    position: absolute;
    top: 102px;
    height: calc(100% - 102px);
  }
}

// responsive to mobile
@media only screen and (max-width: $mobile) {
  .overlay .close-outside {
    visibility: hidden;
    z-index: -25;
    height: 102px;
    width: 100vw;
    top: 0;
  }
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay:target {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
/* reveal aside */
.overlay:target aside {
  transform: translateX(calc(var(--aside-width) * -1));
}

body {
  background-image: url('./../../public/assets/wooden-bg.jpg');
  width: 100vw;
  // overflow-x: hidden;

  #mobile-menu-aside {
    display: none !important;
  }

  &.landing {
    overflow: hidden;
    height: 100vh;
  }

  // responsive to tablet
  @media only screen and (max-width: $tablet) {

    header {
      position: sticky;
      z-index: 1000;
    }
    .landing-header {
      position: unset;
    }
    footer {
      background-color: rgba($color1, 0.8);
      background-image: none;
      &.landing-footer {
        background-image: url('./../../public/assets/wallpaper.png');
      }
    }

    &.aside-open {
  
      &.menu-open {
        #mobile-menu-aside {
          display: initial !important;
        }
        #cart-aside {
          display: none !important;
        }
      }
  
      &.cart-open {
        #cart-aside {
          display: initial !important;
        }
        #mobile-menu-aside {
          display: none !important;
        }
      }
    }

    // responsive to mobile
    @media only screen and (max-width: $mobile) {
      &.aside-open {
        overflow: hidden;
      }
    }
  }
}

#cart-aside {
  z-index: 200;
}

aside {
  background: url('./../../public/assets/wooden-bg.jpg');
  filter: $default-shadow;
  border-left: $default-border;
  height: 100vh;
  max-width: var(--aside-width);
  min-width: var(--aside-width);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  // transition: transform 200ms ease-in-out;

  header {
    height: 75px !important;
    background: $light;
    align-items: center;
    border-bottom: $default-border;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    h2 {
      margin-bottom: 0.6rem;
      margin-top: 0;
    }

    h3 {
      width: 100%;
      margin: 0;
      text-transform: uppercase;
      font-size: 25px;
      text-align: right;
    }

    .close {
      img {
        width: 25px;
        margin-top: 10px;
      }

      opacity: 0.8;
      text-decoration: none;
      transition: all 200ms;
      width: 20px;
      &:hover {
        opacity: 1;
      }
    }
  }

  main {
    height: calc(100vh - 75px);
    background-color: rgba($less-light, 0.25);
    padding: 15px 0;

    hr {
      height: 4px;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .cart-main {

      .cart-empty-text {
        background-color: rgba($less-light, 0.8);
        padding: 40px 30px;
        border: $thin-border;
        border-radius: 25px;
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
      }
      .button {
        border: $thin-border;
        max-width: 70%;
        margin: 0 auto;
        font-size: 16px;
      }

      height: unset;
      max-height: none;
      padding: 25px;
    
      hr {
        margin: 25px 0;
        border: $thin-border;
      }

      .cart-line {
        flex-flow: row wrap;
        text-align: center;
        justify-content: space-evenly;
        gap: 10px;
        background-color: rgba($less-light, 0.8);
        border: $thin-border;
        border-radius: 25px;
        display: flex;
        padding: 15px 30px;
        padding-bottom: 25px;
        a:hover {
          text-decoration: none;
        }
        p {
          width: 90%;
          margin: 0;
          font-size: 18px;
        }
        span {
          text-align: center;
          font-size: 16px;
          padding: 0 15px;
          background-color: $light;
          border: $thin-border;
          height: 30px;
          max-width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        button {
          background-color: $color2;
          border: $thin-border;
          border-radius: 50%;
          width: 25px;
          height: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          .cart-icon {
            border: none;
            width: 18px;
          }
          transition: background-color 0.4s;
          &:hover {
            cursor: pointer;
            background-color: $color1;
          }
          // responsive to tablet
          @media only screen and (max-width: $tablet) {
            &:hover {
              cursor: pointer;
              background-color: $color2;
            }
          }
        }

        img {
          height: 100%;
          display: block;
          margin: 0;
          border: $thin-border;
          border-radius: 0;
        }
      }

      .cart-summary-aside {
        background-color: rgba($less-light, 0.8);
        padding: 15px 30px;
        border: $thin-border;
        border-radius: 25px;

        .cart-subtotal {
          align-items: center;
          display: flex;
          justify-content: space-between;

          dt {
            font-weight: 800;
          }
        }
        input.discount {
          width: 95%;
          height: 20px;
          background-color: $light;
          border: $thin-border;
          border-radius: 0 !important;
        }
      }
    }
  }

  p {
    margin: 0 0 0.25rem;

    &::last-child {
      margin: 0;
    }
  }

  li {
    margin-bottom: 0.125rem;
  }
}

hr {
  height: 8px;
  width: 100%;
  background-color: $color1;
  border: $default-border;
  filter: $default-shadow;
}

.loading {
  background-color: rgba($color1, 0.8);
  padding: 0;
  height: calc(100vh - 206px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // responsive to tablet
  @media only screen and (max-width: $tablet) {
    height: calc(100vh - 204px);
  }
  
  .thb-icon {
    width: 200px;
    height: auto;
  }
  .loader {
    margin-top: 20px !important;
    border: $default-border;
    width: 225px;
    background: none;

    span {
      height: 6px !important;
      border-radius: 0 !important;
    }
  }
}

.hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: $light;
  color: $black;
  border: $default-border;
  outline: solid $color2 11px;
  box-shadow: 0 0 0 14px $black;
  filter: $default-shadow;
  border-radius: 15px;
  width: 375px;
  max-height: 100%;
  margin: 15px;
  margin-top: 35px;
  padding: 10px 35px;
  padding-bottom: 0;

  .diamond-border {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    img {
      width: 25px;
    }
  }
  h4 {
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 34px;
    letter-spacing: 2px;
  }
  .schedule {
    width: 100%;
    margin-bottom: 20px;
    li {
      font-family: "Bogue-ExtraBold";
      font-size: 22px;
      letter-spacing: 2px;
      line-height: 1.5;
      margin: 0;
      .time {
        font-weight: 400;
        font-style: italic;
      }  
    }
  }

  // responsive to tablet
  @media only screen and (max-width: $tablet) {
    width: 70% !important;
    margin: 15px !important;
    padding: 10px 25px 0 !important;
    outline: solid $color2 12px;
    h4 {
      font-size: 25px;
    }
    .schedule li {
      font-size: 18px;
    }
  }
}

.button {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 20px;
  background: $color2;
  border: $default-border;
  filter: $default-shadow;
  padding: 10px 30px 10px 30px;
  margin: 5px;
  color: $black;
  font-size: 20px;
  font-family: "Bogue-Regular";
  font-weight: 600;
  text-transform: uppercase;
  &:hover {
    background: $color1;
    color: $light;
    text-decoration: none;
    transition: background 0.2s ease-in;
    img {
      filter: invert(100%) sepia(97%) saturate(265%) hue-rotate(27deg) brightness(111%) contrast(88%);
    }
  }

  &.decorative {
    padding: 10px 20px;
  }

  .button-icon {
    width: 20px;
    padding-bottom: 3px;
  }

  .flourish {
    width: 25px;
    padding-bottom: 3px;
  }
}

.button-primary {
  background: $color2;
}

.button-secondary {
  background: $color1;
  color: $light;
  width: 170px;
  height: 100%;
  margin-top: 10px;
  font-size: 17px;
  text-align: center;
  line-height: 1.15;
  &:hover {
    background: $color3;
    color: $black;
    img {
      filter: invert(4%) sepia(5%) saturate(169%) hue-rotate(314deg) brightness(100%) contrast(82%);
    }
  }
}

.button-tertiary {
  background: $color4;
  color: $light;
  font-size: 17px;
  img {
    filter: invert(100%) sepia(97%) saturate(265%) hue-rotate(27deg) brightness(111%) contrast(88%);
  }
  &:hover {
    background: $color2;
    color: $black;
    img {
      filter: none;
    }
  }
}

// responsive to tablet
@media only screen and (max-width: $tablet) {
  .button:hover {
    background: $color2;
    color: $black;
    img {
      filter: none;
    }
  }
  .button.cart, .button.menu-toggle {
    display: flex;
    flex-direction: row;
  }
  .button.menu-active {
    flex-direction: row-reverse;
  }
  .button-secondary:hover {
    background: $color1;
    color: $black;
    img {
      filter: none;
    }
  }
  .button-tertiary:hover {
    background: $color4;
    color: $light;
    img {
      filter: none;
    }
  }
}

.thb-icon {
  width: 75px;
  height: auto;
}

.thb-logo {
  width: 90%;
  max-width: 900px;
  height: auto;
  margin: 40px 0;

  // responsive to mobile
  @media only screen and (max-width: $tablet) {
    width: 80%;
    margin: 20px 0;
  }

  // responsive to mobile
  @media only screen and (max-width: $mobile) {
    width: 90%;
  }
}

header, footer {
  background-image: url('./../../public/assets/wallpaper.png');
  background-size: 100%;
  display: flex;
}

.landing-header, .landing-footer {
  height: 100px;
  padding: 0;
}

// responsive to tablet
@media only screen and (max-width: $tablet) {
  #cart-aside {
    position: absolute;
    top: 0;

    aside {
      position: absolute;
      top: 102px;

      header {
        display: none;
        height: 0;
      }
    }
  }
}

// responsive to mobile
@media only screen and (max-width: $mobile) {
  #cart-aside {
    aside {
      width: 100vw;
      max-width: 100vw;
    }
  }
}

#mobile-menu-aside {
  display: none;
  position: absolute;
  top: 0;
  
  // responsive to tablet
  @media only screen and (max-width: $tablet) {
    display: initial;
  }

  aside {
    position: absolute;
    top: 102px;

    // responsive to mobile
    @media only screen and (max-width: $mobile) {
      width: 100vw;
      max-width: 100vw;
    }

    .header-menu-mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      grid-gap: 20px;
      height: calc(90%);

      a {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        width: 60%;
        min-width: 250px;
        background: $color2;
        border: $default-border;
        filter: $default-shadow;
        padding: 10px 30px 10px 30px;
        margin: 5px;
        color: $black;
        font-size: 18px;
        font-family: "Bogue-Regular";
        font-weight: 600;
        text-transform: uppercase;
        &:hover {
          text-decoration: none;
        }

        .button-icon {
          width: 20px;
        }

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
          width: 70vw;
          font-size: 22px;

          .button-icon {
            width: 22px;
            padding-bottom: 3px;
          }
        }
      }
    }

    header {
      display: none;
      height: 0;
    }
  }
}

a.instagram {
  display: none !important;
}

// responsive to tablet
@media only screen and (max-width: $tablet) {
  a.instagram {
    display: flex !important;
  }
}

header {
  position: relative;
  height: 140px;
  border-bottom: $default-border;
  filter: drop-shadow(0px 3px 2px rgba($black, 0.5));
  padding: 20px;
  padding-bottom: 0;
  top: 0;
  z-index: 150;

  // responsive to tablet
  @media only screen and (max-width: $tablet) {
    height: 100px;
    align-items: center;
    padding-top: 0;

    a {
      display: flex;
    }
  }

  // responsive to mobile
  @media only screen and (max-width: $mobile) {
    .button-label {
      display: none;
    }
  }

  nav {

    &.header-submenu {
      display: flex;
      grid-gap: 1rem;
      margin-left: auto;

      .button {
        &:hover {
          color: $black;
          background-color: $color2;
          img {
            filter: none;
          }
        }
      }

      // responsive to mobile
      @media only screen and (max-width: $mobile) {
        .button {
          height: 30px;
          font-size: 20px;
          img {
            width: 22px;
          }
        }
      }

      .cart-active, .menu-active {
        color: $white;
        background-color: $color1;
        img {
          filter: invert(100%) sepia(97%) saturate(265%) hue-rotate(27deg) brightness(111%) contrast(88%);
        }
        &:hover {
          color: $white;
          background-color: $color1;
          img {
            filter: invert(100%) sepia(97%) saturate(265%) hue-rotate(27deg) brightness(111%) contrast(88%);
          }
        }
      }
    
      .menu-toggle, .menu-active {
        display: none;
    
        // responsive to mobile
        @media only screen and (max-width: $tablet) {
          display: flex;
        }
      }
    }

    &.header-menu-desktop {
      display: flex;
      width: 100vw;
      justify-content: center;
      position: absolute;
      bottom: 1px;

      // responsive to mobile
      @media only screen and (max-width: $tablet) {
        display: none;
      }

      a {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 150px;
        width: 180px;
        height: 45px;
        margin-left: -2px;
        margin-right: -2px;
        transform: perspective(8px) rotateX(1deg);
        transition: background-color 0.4s, margin 0.4s;
        background-color: $least-light;
        border: $default-border;
        border-radius: 25px 25px 0 0;
        border-bottom: none;
        .nav-text {
          transform: perspective(8px) rotateX(-1deg);
          font-size: 16px;
          font-family: "Bogue-Regular";
          text-transform: uppercase;
          color: $black;
        }
        .button-icon {
          display: none;
        }
        &.active-link {
          background-color: $light;
          z-index: 100;

          &:hover {
            background-color: $light;
            margin-left: -2px;
            margin-right: -2px;
          }

          .nav-text {
            font-family: "Bogue-Extrabold";
          }
        }
        &:hover {
          text-decoration: none;
          background-color: $less-light;
          margin-left: 4px;
          margin-right: 4px;
        }
      }
    }
  }

  .button-primary {
    padding: 10px 20px;
    font-size: 15px;
    height: 15px;
  }
}

footer {
  height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: $default-border;
  filter: drop-shadow(0px -3px 2px rgba($black, 0.5));
  margin-top: auto;

  hr {
    background-color: $color3;
    height: 4px;
    max-width: 90%;
    margin: 25px 0;
  }

  .credit, .copyright {
    p {
      font-family: "Saudagar";
      font-weight: 800;
      text-align: center;
      font-size: 16px;
      letter-spacing: 2px;
      padding-bottom: 5px;
  
      a {
        font-family: "Saudagar";
        text-decoration: underline;
      }
    }
  }

  .copyright p {
    font-size: 20px;
  }

  .footer-buttons {
    display: flex;
    gap: 15px;

    .button-primary {
      padding: 10px 20px;
      font-size: 15px;
      height: 15px;
    }
  }
}

main {

  .product {
    display: flex;
    gap: 50px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgba($less-light, 0.8);

    .product-image img {
      width: 30%;
      max-width: 400px;
      height: auto;
      object-fit: cover;
      border: $default-border;
      filter: $default-shadow;
      border-radius: 0;
      margin: 0;
    }

    .product-main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 45%;
      margin: auto 0;

      h1 {
        font-size: 40px;
        font-family: "Saudagar";
        text-transform: uppercase;
        margin: 0;
      }
      .product-price {
        font-size: 25px;
        font-family: "Bogue-ExtraBold";
        margin: 0;
      }
      hr {
        background-color: $color4;
        margin: 10px 0;
        height: 4px;
      }
      .product-description {
        font-size: 20px;
        font-family: "Bogue-Regular";
        margin: 0;
      }
      button {
        padding: 20px 30px;
        margin-top: 20px;
        cursor: pointer;
        &:hover {
          background-color: $color4;
        }
      }
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 20px;
      padding: 40px 30px;
      .product-main {
        width: 100%;

        h1 {
          font-size: 35px;
        }
        .product-price {
          font-size: 22px;
        }
        .product-description {
          font-size: 18px;
        }
        button {
          margin: 20px auto 0;
          width: 80%;
          &:hover {
            background-color: $color2;
          }
        }
      }
      .product-image img {
        width: 100%;
      }
    }
  }

  .route-error {
    min-height: calc(100vh - 358px);
    background-color: rgba($color1, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1, h2 {
      margin: 0
    }
    h1 {
      font-size: 75px;
      font-family: 'Saudagar';
    }
    h2 {
      padding-top: 10px;
      padding-bottom: 35px;
    }
  }

  .landing {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 206px);
    padding: 0;

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
      height: calc(100vh - 204px);
    }

    .landing-welcome {
      display: flex;
      align-items: center;
      gap: 30px;
      padding-left: 10%;
      background-color: rgba($color1, 0.8);
      border-bottom: $default-border;
      height: 55%;

      .thb-icon {
        height: 175px;
        width: auto;
      }

      h1 {
        color: $light;
        font-family: "Saudagar";
        font-size: 40px;
        font-style: italic;
        filter: drop-shadow(-3px 3px 0.5px rgba($black, 0.8));
        .title {
          font-family: "Saudagar";
          font-size: 75px;
          font-style: normal;
        }
      }

      // responsive to mobile
      @media only screen and (max-width: $tablet) {
        flex-direction: column;
        justify-content: center;
        padding: 0;
        width: 100%;
        height: 45%;
        h1 {
          display: none;
        }
      }
    }
    .landing-main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: rgba($light, 0.8);
      height: 45%;
      padding-left: 10%;

      .landing-buttons {
        display: flex;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 15px;
      }

      p {
        margin-top: 10px;
        font-size: 20px;
      }

      .remember-user {
        label {
          font-size: 18px;
          height: 30px;
          display: flex;
          align-items: center;
          input[type="checkbox"] {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            margin-left: 10px;
            background-color: $light;
            border: $default-border;
            transition: 0.4s;
            border-radius: 0;
            outline: none;
            cursor: pointer;
            &.checked {
              background-color: $color4;
              position: relative;
            }
          }
          &:hover {
            cursor: pointer;
            input[type="checkbox"] {
              background-color: $color3;
              &.checked {
                background-color: $color4;
              }
            }
          }
        }
      }

      // responsive to mobile
      @media only screen and (max-width: $tablet) {
        height: 55%;
        padding: 0;

        p {
          font-size: 22px;
          max-width: 80%;
          margin: 0 auto;
          padding: 15px;
          text-align: center;
          padding-bottom: 0;
        }
        .landing-buttons {
          justify-content: center;
        }
        .remember-user {
          margin: 0 auto;
        }
      }
    }
  }
  .main-heading {
    hr {
      height: 5px;
      max-width: 85%;
      background-color: $color1;
    }
    // responsive to mobile
    @media only screen and (max-width: $tablet) {
      padding: 20px 0;
      hr {
        display: none;
      }
    }
  }
  .heading, .main-subheading {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: $default-border;
  }
  .heading {
    background-color: rgba($less-light, 0.9);
    flex-direction: column;
    
    h2 {
      color: $black;
      text-align: center;
      font-size: 80px;
      font-family: 'Saudagar';
      font-style: normal;
      text-transform: uppercase;
    }

    h2.home {
      margin-top: 30px;
      font-size: 60px;
      font-style: italic;
      text-transform: none;
    }

    // responsive to mobile
    @media only screen and (max-width: $tablet) {
      h2 {
        font-size: 50px;
        margin-bottom: 0;
      }
      h2.home {
        display: none;
      }
    }
  }
  .main-taproom {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: $light;
    background-color: rgba($color1, 0.8);
    
    hr {
      display: none;
    }

    .sketch-address {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 45%;
      margin: 15px;
      .bar-sketch {
        width: 80%;
        max-width: 500px;
        filter: $default-shadow;
      }
      .address {
        margin-top: 10px;
        margin-bottom: 15px;
        padding: 10px 25px;
        font-size: 22px;
        font-style: italic;
        color: $black;
        background-color: $light;
        border: $default-border;
        border-radius: 25px;
        filter: $default-shadow;
      }
    }
    .hours {
      width: 35%;
      height: 100%;
      filter: $default-shadow;
    }
    .menu-buttons {
      width: 95%;
      margin: 0 auto;
      margin-top: 20px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      gap: 20px;

      .button {
        font-size: 16px;
        line-height: 1.15;
        text-align: center;
        height: 40px;
        width: 200px;

        img {
          width: 25px;
        }
      }
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
      hr {
        background-color: $color3;
        width: 90%;
        height: 5px;
        margin-top: 10px;
        margin-bottom: 35px;
      }
      .sketch-address {
        width: 100%;

        .bar-sketch {
          padding-top: 15px;
          padding-bottom: 15px;
          width: 100%;
        }
        .address {
          width: 83%;
          text-align: center;
          letter-spacing: 1.5px;
          padding: 10px 15px;
          margin: 0;
          margin-bottom: 8px;
        }
        .button {
          display: none;
        }
      }
      .hours {
        margin-bottom: 20px;
      }
      .menu-buttons {
        flex-direction: column;
        align-items: center;
        padding-bottom: 25px;
        margin: 0;
        margin-top: 20px;
        gap: 5px;
        .button {
          flex-direction: row-reverse;
          justify-content: space-between;
          width: 80%;
          height: 20px;
          padding: 15px 20px;
          img {
            width: 20px;
          }
          &:hover {
            img {
              filter: invert(100%) sepia(97%) saturate(265%) hue-rotate(27deg) brightness(111%) contrast(88%);
            }
          }
        }
      }
    }
  }
  .main-events {
    display: flex;
    border-top: $default-border;
    color: $black;
    background-color: rgba($less-light, 0.8);
    padding: 0;
    .events-photo {
      max-width: 45%;
      border-right: $default-border;
      border-radius: 0;
      filter: sepia(20%);
      object-fit: cover;
    }
    h3 {
      font-size: 45px;
      font-family: "Saudagar";
      text-transform: uppercase;
      margin: 30px;
      margin-bottom: 10px;
      margin-left: 40px;
    }
    .main-events-content {
      width: 100%;
      .events-list {
        margin-left: 40px;
        font-size: 20px;
        li {
          font-family: "Bogue-ExtraBold";
          .date {
            font-style: italic;
            font-family: "Bogue-Regular";
          }
        }
      }
      .button {
        background-color: $color2;
        margin-top: 15px;
        margin-left: 40px;
        width: 300px;
        font-size: 18px;
        &:hover {
          background-color: $color1;
        }
      }
      hr {
        background-color: $color1;
        border-left: none;
        width: 90%;
        margin-bottom: 20px;
      }
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
      flex-direction: column;

      hr {
        min-width: 100%;
        max-width: unset;
        margin: 0;
        border-right: 0;
        height: 4px;
      }

      .events-list {
        text-align: center;
        margin: 10px 35px !important;
      }

      .button {
        max-width: 300px;
        width: 75% !important;
        margin: 15px auto !important;
        margin-bottom: 30px !important;
        &:hover {
          background-color: $color2 !important;
        }
      }

      .events-photo {
        height: 200px;
        max-width: 100%;
        border: none;
        border-bottom: $default-border;
      }

      h3 {
        text-align: center;
        font-size: 40px;
        margin: 10px 30px;
        margin-top: 20px;
      }
    }
  }
  .main-newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 30px 10%;
    color: $black;
    background-color: rgba($color2, 0.9);
    border-top: $default-border;

    p {
      font-family: "Saudagar";
      font-size: 26px;
      font-weight: 800;
      font-style: italic;
      line-height: 1.5;
      letter-spacing: 1px;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      input {
        width: 100%;
        border: $thin-border;
        border-radius: 0;
      }
      button {
        padding: 20px 30px;
        background: $color1;
        color: $light;
      }
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {

      padding: 30px 5%;

      p {
        font-size: 20px;
      }

      form {
        input {
          width: 90%;
        }
        button {
          font-size: 18px;
          &:hover {
            background: $color1;
            color: $light;
          }
        }
      }
    }
  }
  .taproom-address {
    height: 600px;
    display: flex;
    position: relative;
    background-color: rgba($color1, 0.8);
    border-bottom: $default-border;
    padding: 0;
    .taproom-photo {
      position: absolute;
      top: 0;
      width: 100vw;
      max-height: 600px;
      object-fit: cover;
      border: none;
      border-radius: 0;
    }
    .taproom-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      height: 100%;
      min-width: 45vw;
      z-index: 50;
      background-color: rgba($color1, 0.8);
      border-right: $default-border;
    }
    p {
      text-align: center;
      width: 75%;
      margin-top: 15px;
      padding: 10px 25px;
      font-size: 20px;
      font-style: italic;
      color: $black;
      background-color: $light;
      border: $default-border;
      border-radius: 25px;
      filter: $default-shadow;
    }
    .hours {
      margin: 15px;
      margin-bottom: 30px;
    }
    .button {
      width: 300px;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
      flex-direction: column;
      height: auto;
      background-color: rgba($color1, 0.5);

      .taproom-photo {
        height: 200px;
        position: unset;
        border-bottom: $default-border;
      }
      .taproom-info {
        padding: 25px 0;
        border-right: none;
        p {
          letter-spacing: 1.5px;
          font-size: 22px;
        }
        .button {
          margin-top: 20px;
          margin-bottom: 20px;
          width: 50%;
        }
        .hours {
          margin-bottom: 32px !important;
        }
      }
    }
  }
  .taproom-menus {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $light;
    background-color: rgba($dark, 0.9);
    border-bottom: $default-border;

    h3 {
      width: 90vw;
      font-size: 60px;
      font-family: "Saudagar";
      filter: $default-shadow;
      margin: 0;
      padding: 0;
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
      padding-top: 0;
      h3 {
        display: flex;
        align-items: center;
        font-size: 50px;
        min-height: 125px;
      }
    }

    .updated-date {
      font-size: 20px;
      letter-spacing: 1px;
      padding: 5px 25px;
      padding-right: 20px;
      position: absolute;
      right: 0;
      top: 50px;
      background-color: $color4;
      filter: $default-shadow;
      border: $default-border;
      border-radius: 25px 0 0 25px;
      border-right: 0;
    }

    .menu-nav {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-bottom: 20px;

      .button {
        height: 40px;
        font-size: 20px;
        padding: 20px 30px;
        cursor: pointer;

        &.selected {
          color: $white;
          background-color: $color1;
          cursor: default;
          
          img {
            filter: invert(100%) sepia(97%) saturate(265%) hue-rotate(27deg) brightness(111%) contrast(88%);
          }
        }
      }
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
      .button {
        justify-content: space-between;
      }
    }

    .menu {
      display: flex;
      flex-flow: row wrap;
      width: 95vw;
      justify-content: center;
      align-items: center;
      gap: 20px;

      li {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        background-color: rgba($less-light, 0.9);
        filter: $default-shadow;
        font-family: "Saudagar";
        color: $black;
        height: 100%;
        border: $default-border;
        border-radius: 40px;
        padding: 20px;

        &.beer {
          width: 325px;
        }

        &.food.sm {
          width: 225px;
        }

        &.food.med {
          width: 275px;
        }

        &.food.lrg {
          width: 325px;
        }

        h4 {
          width: 90%;
          text-transform: uppercase;
          font-size: 20px;
          margin: 0;
          margin-bottom: 15px;
        }
        
        p {
          width: 90%;

          &.description {
            font-size: 16px;
            font-style: italic;
            margin-bottom: 6px;
          }

          &.price {
            font-size: 18px;
            font-weight: 800;
          }
        }
      }
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
      .updated-date {
        top: 45px;
        text-align: center;
        font-size: 15px;
        padding: 5px 10px;
        width: 50%;
      }
      .menu {
        gap: 5px;
        margin-bottom: 20px;
        li {
          width: 80% !important;
          justify-content: center;
          text-align: center;

          h4 {
            margin-bottom: 5px;
          }
        }
      }
      .menu-nav {
        width: 85%;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        li {
          width: 100%;
          .button {
            width: 100%;
            margin: 0;
          }
        }
      }
    }
  }
  .taproom-events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba($light, 0.9);
    h3 {
      width: 90vw;
      font-size: 60px;
      font-family: "Saudagar";
      filter: $default-shadow;
      margin: 0;
      padding: 0;
    }
    h4 {
      display: none;
    }
    .fc-button-active {
      background-color: $color1 !important;
      color: $white !important;
      box-shadow: none !important;
    }
    .fc-button {
      text-transform: uppercase;
      padding-left: 20px;
      padding-right: 20px;
      color: $black;
      border: $default-border;
      background-color: $color2;
      border-radius: 0;
      min-width: 75px;
      transition: background-color 0.4s, color 0.4s;
      &:hover, &:active, &:focus {
        background-color: $color1 !important;
        color: $white !important;
        box-shadow: none !important;
      }
      &:disabled {
        opacity: 1;
        border: $default-border;
        background-color: $color1;
        color: $white !important;
        cursor: pointer;
      }
    }
    // responsive to tablet
    @media only screen and (max-width: $tablet) {
      h3 {
        display: flex;
        align-items: center;
        font-size: 50px;
        height: 70px;
        margin-top: 10px;
      }
      .fc-button {
        &:hover, &:focus {
          background-color: $color2 !important;
          color: $black !important;
        }
        &:disabled:hover {
          background-color: $color1 !important;
          color: $white !important;
        }
      }
    }
    .calendar , .fc {
      width: 90vw !important;
      height: 100%;
      min-height: 300px;
      max-height: 1000px;
    }
    .fc {
      margin-top: 25px;

      a:hover {
        cursor: default !important;
        text-decoration: none !important;
      }

      h2 {
        color: $black;
      }

      .fc-listMonth-view {
        border: $default-border !important;

        .fc-event {
          background-color: $light;
        }
      }

      .fc-list-day th {
        background-color: $color4 !important;
        a {
          color: $white !important;
          font-weight: 400;
        }
      }

      .fc-list-event-dot {
        display: none;
      }

      .fc-daygrid-event {
        background-color: $color4;
        border: solid $black 2px;
        padding: 2px 5px;
        margin: 0px 10px;
        text-align: center;
      }

      .fc-event {
        td {
          border-left: 0;
          border-right: 0;
        }
        &:hover {
          th, tr {
            opacity: 1;
          }
          td {
            background-color: unset !important;
          }
        }
      }

      .fc-cell-shaded {
        background: none !important;
        border-top: none;
      }

      .fc-daygrid-day-top a {
        cursor: default;
        text-decoration: none;
        font-size: 18px;
        padding-right: 3px;
      }

      .fc-button-group {
        gap: 12px;
      }

      .fc-scrollgrid-sync-table tbody {
        background-color: $light;
      }

      tbody {
        border: $default-border;
        border-top: 0;
        padding-top: 0;
      }

      td {
        border-top: none;
        border: $default-border;
      }

      .fc-scrollgrid-section th {
        background: none !important;
      }
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
      .fc {
        margin-top: 0;
      }
      .calendar {
        padding-top: 10px;
        padding-bottom: 30px;
        .fc-header-toolbar {
          display: flex;
          flex-direction: column-reverse;
          justify-content: space-between;
          gap: 15px;
          margin: 0;
        }
        .fc-toolbar-chunk {
          width: 100%;
          display: flex;
          justify-content: center;
        }
        .fc-toolbar-chunk:nth-of-type(1) {
          margin-bottom: 20px;
        }
        .fc-toolbar-chunk:nth-of-type(3) {
          height: 0;
        }
        .fc-dayGridMonth-button, .fc-listMonth-button {
          display: none;
        }
      }
    }

    // responsive to mobile
    @media only screen and (max-width: $mobile) {
    
      .fc-toolbar-chunk:nth-of-type(1) {
        display: flex;
        gap: 12px;
        .fc-today-button {
          margin: 0;
        }
      }
    }

  }

  .store-disclaimers {
    background-color: rgba($color1, 0.8);
    padding: 30px;
    border-bottom: $default-border;
    text-align: center;

    h3 {
      font-size: 25px;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 10px;
    }

    p {
      max-width: 75%;
      margin: 0 auto;
      font-size: 16px;
      padding: 20px;
      background-color: $light;
      border: $default-border;
      border-radius: 25px;
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
      p {
        max-width: 100%;
      }
    }
  }

  .store {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba($less-light, 0.8);
    padding: 30px;

    .recommended-product {
      max-width: 350px;
      img {
        border: solid 3px $black;
        filter: $default-shadow;
        border-radius: 0;
        aspect-ratio: 6/3;
        object-fit: cover;
      }
      h4 {
        font-size: 18px;
      }
      small {
        font-size: 16px;
      }
    }
    
    h1 {
      display: none;
      margin: 0;
      padding-top: 20px;
    }

    h2 {
      color: $black;
      font-size: 50px;
      text-transform: uppercase;
      font-style: normal;
      margin-top: 0;
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
      text-align: center;
      padding-top: 0;

      .recommended-product {
        width: 100%;
        margin: 0 auto;

        h4 {
          font-size: 20px;
        }
        small {
          font-size: 18px;
        }
      }
      
      h2 {
        font-size: 40px;
        margin-bottom: 20px;
      }
    }
  }
}

:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --color-dark: #000;
  --color-light: #fff;
}

img {
  border-radius: 4px;
}

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
// aside {
//   background-image: url('./../../public/assets/wooden-bg.jpg');
//   box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
//   height: 100vh;
//   max-width: var(--aside-width);
//   min-width: var(--aside-width);
//   position: fixed;
//   right: calc(-1 * var(--aside-width));
//   top: 0;
//   transition: transform 200ms ease-in-out;
// }

// aside header {
//   align-items: center;
//   border-bottom: 1px solid var(--color-dark);
//   display: flex;
//   height: var(--header-height);
//   justify-content: space-between;
//   padding: 0 20px;
// }

// aside header h3 {
//   margin: 0;
// }

// aside header .close {
//   font-weight: bold;
//   opacity: 0.8;
//   text-decoration: none;
//   transition: all 200ms;
//   width: 20px;
// }

// aside header .close:hover {
//   opacity: 1;
// }

// aside header h2 {
//   margin-bottom: 0.6rem;
//   margin-top: 0;
// }

// aside main {
//   margin: 1rem;
// }

// aside p {
//   margin: 0 0 0.25rem;
// }

// aside p:last-child {
//   margin: 0;
// }

// aside li {
//   margin-bottom: 0.125rem;
// }

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/



/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  height: 100%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;

  hr {
    margin: 25px 0;
    border: $thin-border;
  }
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-summary-page {
  position: relative;
}

.cart-line-quantity {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}
/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.predictive-search {
  height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto;
}

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0;
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/
.featured-collection {
  display: block;
  margin-bottom: 2rem;
  position: relative;
}

.featured-collection-image {
  aspect-ratio: 1 / 1;
  @media (min-width: 45em) {
    aspect-ratio: 16 / 9;
  }
}

.featured-collection img {
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.recommended-products-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  @media (min-width: 45em) {
    grid-template-columns: repeat(3, 1fr);
  }
}

// responsive to tablet
@media only screen and (max-width: $tablet) {
  .recommended-products {
    min-width: 95%;
  }
  .recommended-products-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.recommended-product img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.collection-item img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;
  @media (min-width: 45em) {
    max-width: 600px;
  }
}

.products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.product-item img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/

.product h1 {
  margin-top: 0;
}

.product-images {
  display: grid;
  grid-gap: 1rem;
}

.product-main {
  align-self: start;
  position: sticky;
  top: 6rem;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item {
  padding: 0.25rem 0.5rem;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/
.account-profile-marketing {
  display: flex;
  align-items: center;
}

.account-logout {
  display: inline-block;
}

// responsive to mobile
@media only screen and (max-width: $tablet) {
  * {
    border-width: 2px !important;
  }
}